/*FAQS*/
.faq_question {
    margin: 20px 250px 0px 250px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    float: left;
}
 
.faq_answer_container {
    margin: 0px 270px 0px 270px;
    height: 0px;
    font-size: 15px;
    overflow: hidden;
    padding: 0px;
    float: left;
    text-align: left;
}

body {
    font-family: 'Oswald', sans-serif;
}
.banner {
    padding-top:10px;
    background-color:#CF3721;
    height:110px;
    color: black;
}

h1 {
    margin-top: 10px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: middle;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
    
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
    
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-control {
    margin-bottom: 10px;
}
    
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #258039;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
    
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #F5BE41;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#period {
    font-weight: bold;
    margin-top: -5px;
}

#wind, #date {
    font-size: 10px;
}

#icon {
    margin: -10px;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px 10px 50px 10px;

}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

h2 {
    margin-top: 0px;
    margin-bottom: -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    height: 300px;
    width:200px;
    border:2px solid black;
    float: center right;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}